<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220962812092-brpfpil4r39use49dl9rcckanbin5q5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220962812092-brpfpil4r39use49dl9rcckanbin5q5o</string>
	<key>API_KEY</key>
	<string>AIzaSyDm3O7Sai3reSV7g4eGqx-ecM6jSpaZhVs</string>
	<key>GCM_SENDER_ID</key>
	<string>220962812092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honeydo.byamber</string>
	<key>PROJECT_ID</key>
	<string>honeydo-by-amber</string>
	<key>STORAGE_BUCKET</key>
	<string>honeydo-by-amber.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220962812092:ios:ddecdc14b06026ac4f60b9</string>
</dict>
</plist>